<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs") %>
    <br>
    <div class="container card" id="form-question">
        <h1>404 Not Found :(</h1>
    </div>
</body>
<%- include("partials/footer.ejs") %>